header {
    height: 100vh;
    }
body{
    background-image: url(hotel.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-size: cover;
}
h2{
    background-color: white; 
    padding-right: 10%; 
    color: salmon;
}
