<!DOCTYPE html>
<html>
   
<body>
<div >
    <h2 class="text-center" style="background-color: white; padding-right: 10%; color: salmon;" >Welcome to hotel reservation</h2>
</div>
<div class="container">
	<div class="modal-dialog">
      <div class="modal-content col-md-8 col-md-offset-2">
          
          <div class="modal-body">
              <div class="row">
                  <div>
                      <div class="well">
                          <form class="form" >
				          	<p>
			              		<label>Username</label>
				              	<input type="text" class="form-control" name="username" required="required"/>
				          	</p>
				          	<p>
			              		<label>Password</label>
			              		<input type="password" class="form-control" name="password" required="required"/>
				          	</p>
				          	<p>
			              		<input type="submit" style="background-color: salmon;" value="login" class="btn btn-success btn-block" routerLink="home"/>
				          	</p>
		      			  </form>
                          <p>Not registered yet? <a routerLink="register"  routerLinkActive="active">Signup</a> for free</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
	</div>
</div>
<p>* </p>
<p> *</p>
<p> *</p>
<p>*</p>
<p>*</p>
<p>*</p>
<p>*</p>
<p>*</p>


</body>
</html>