<!DOCTYPE html>
<html>
  <body>
    <div class="navbar" id="navbar">
      <nav>
          <ul>
              <a href="../home"><li> Home </li></a>
              <a href="../booking"><li> Booking </li></a>
              <a href="../viewbooking"><li> View Bookings </li></a>
              <a href="../"><li> Login </li></a>
          </ul>
      </nav>
    </div>
    <h1 ><marquee>Enjoy your stay with us</marquee></h1>
    <h2 class="text-center">Select your Hotel</h2>
    
  <div style="background-color: salmon;">
   
    <div>
    <div class="container">
        <div class="row">
          <div class="col-sm container">
            <h3 >Hotel one</h3>
            <img  height="100%" width=100% src="hotel.jpeg">
            <p >5 star Hotel near by airport in the city of Atlanta
                <button mat-button routerLink="../booking">Book now</button>
            </p>
          </div>
          <div class="col-sm container">
            <h3 >Hotel two</h3>
            <img  height="100%" width=100% src="./hotel.jpeg">
            <p >3 star Hotel near by downtown, New Orleans.
                <button mat-button routerLink="../booking">Book now</button>
            </p>
          </div>
          <div class="col-sm container">
            <h3 >Hotel three</h3>
            <img  height="100%" width=100% src="./hotel.jpeg">
            <p >4 star Hotel near Kennesaw University, Marietta
                <button mat-button routerLink="../booking">Book now</button> 
            </p>
          </div>
        </div>
      </div>
      <p>*</p>
      <p>*</p>
      <p>*</p>
  </div>
</div>
</body>
</html>
